@import '../../styles/variables.scss';

.weather_tabs {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.tabs_list {
    display: flex;
}

.cancel_button {
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    color: var(#{--text-color-default});
    background: var(#{--component-background-default});
    box-shadow: $box-shadow;
}