@import '../../styles/variables.scss';

.current_temp,
.current_day,
.card_image,
.current_time {
    margin-bottom: 10px;
}

.current_temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
}

.current_day {
    font-size: 22px;
    color: $primary-text-color;
    // margin-bottom: 10px;
}

.card_image {
    // margin-bottom: 10px;
    svg {
        width: 50px;
        height: 50px;
    }
}

.current_time,
.current_city {
    font-size: 14px;
    color: $secondary-text-color
}