@import '../../styles/variables.scss';

.weather_card {
    width: calc(100% / 7 - 20px);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(71, 147, 255, 0.2);
    transition: linear 250ms;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 20px rgba(147, 144, 144, 0.28);
    }
}

.day,
.day_info,
.image,
.temp_day,
.temp_night {
    margin-bottom: 10px;
}

.day,
.temp_day {
    font-size: 18px;
    color: $primary-text-color;
}

.day_info,
.temp_night,
.additional_info {
    font-size: 14px;
    color: $secondary-text-color;
}