@import '../../styles/variables.scss';

.weather_card {
    width: calc(100% / 7 - 20px);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: var(#{--card-background-default});
    transition: linear 250ms;

    &:hover,
    &:focus {
        box-shadow: var(#{--card-shadow-default});
    }
}

.day,
.day_info,
.image,
.temp_day,
.temp_night {
    margin-bottom: 10px;
}

.day,
.temp_day {
    font-size: 18px;
    color: var(#{--text-color-default});
}

.day_info,
.temp_night,
.additional_info {
    font-size: 14px;
    color: $secondary-text-color;
}