$primary-color: #4793ff;
$primary-text-color: #000;
$secondary-text-color: #939cb0;
$white-background: #fff;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.45);
$border-radius: 20px;


$body-background-dark: #0d1117;
$body-background-light: #fff;

$component-background-dark: #4f4f4f;
$component-background-light: #fff;

$card-background-dark: #2e3035;
$card-background-light: rgba(71, 147, 255, 0.2);

$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);
$card-box-shadow-light: 0px 3px 20px rgba(5, 5, 5, 0.28);

$text-theme-dark: #fff;
$text-theme-light: #000;

:root {
    // body background
    --body-background-dark: #{$body-background-dark};
    --body-background-light: #{$body-background-light};
    --body-background-default: var(#{--body-background-light});

    // components background
    --component-background-dark: #{$component-background-dark};
    --component-background-light: #{$component-background-light};
    --component-background-default: var(#{--component-background-light});

    // card background
    --card-background-dark: #{$card-background-dark};
    --card-background-light: #{$card-background-light};
    --card-background-default: var(#{--card-background-light});

    // card shadow background
    --card-shadow-dark: #{$card-box-shadow-dark};
    --card-shadow-light: #{$card-box-shadow-light};
    --card-shadow-default: var(#{--card-shadow-light});

    // text
    --text-color-dark: #{$text-theme-dark};
    --text-color-light: #{$text-theme-light};
    --text-color-default: var(#{--text-color-light});
}