@import '../../styles/variables.scss';

.currentDayInfo {
    position: relative;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    border-radius: $border-radius;
    background: var(#{--component-background-default});
    box-shadow: $box-shadow;
}

.item_info {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: $box-shadow;
}

.indicator_name,
.indicator_value {
    font-size: 14px;
    margin-left: 20px;
}

.indicator_name {
    color: $secondary-text-color;
}

.indicator_value {
    color: var(#{--text-color-default});
}

.cloud_img {
    position: absolute;
    top: 0;
    right: 0;
}