@import '../../styles/variables.scss';

.main_wrapper {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: $primary-color;
}

.change_theme,
.logo {
    margin-right: 20px;
    cursor: pointer;
}