@import '../../styles/variables.scss';

.currentDay {
    padding: 40px;
    max-width: 400px;
    width: 100%;
    background: var(--component-background-default);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.current_temp {
    font-size: 80px;
    font-weight: 500;
    color: $primary-color;
}

.current_day,
.current_city {
    font-size: 24px;
    color: var(#{--text-color-default});
}

.current_weather {
    font-size: 20px;
    color: $secondary-text-color;
    margin-bottom: 10px;
}